<div class="page-content header-clear-larger">
<div class="content-box shadow-large bg-white-transparent">
  <div class="top-25 bottom-15">
    <h3 class="bottom-10 center-text">Backup Media</h3>
    <h2 style="text-align: center;" class="bottom-10">Both USB drives must be attached.</h2>

    <div class="pricing-3 ">
      <ul align="center" class="pricing-list">


        <li align="center">

          <div class="input-simple-2 textarea has-icon">
            A: <!--<input type="text" class="textarea-simple-2" readonly ng-model="backup_src"-->
            <!--placeholder="Source">-->
            <mat-form-field>
              <mat-select placeholder="Select source" [(value)]="backupSrc">
                <mat-option *ngFor="let item of available_devices" [value]="item.diskPath">
                  {{item.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </li>


        <li align="center">

          <div class="input-simple-2 textarea has-icon">

            B: <!--<input type="text" class="textarea-simple-2" readonly ng-model="backup_dest"-->
            <!--placeholder="Destination">-->
            <mat-form-field>
              <mat-select placeholder="Select destination" [(value)]="backupDesc">
                <mat-option *ngFor="let item of available_devices" [value]="item.diskPath">
                  {{item.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </li>

        <li>
          <button (click)="getDeviceList()" mat-raised-button color="primary" class="button-footer button-purple">Refresh</button>
        </li>
      </ul>
    </div>
    <span *ngIf="available">
    <p class="bottom-20">
         <mat-progress-bar *ngIf="zipping" mode="indeterminate"></mat-progress-bar>
        <button [disabled]="zipping" (click)="startBackup()" mat-raised-button color="primary" class="button-footer button-green">{{startName}}</button>
         <mat-progress-bar *ngIf="zipping" mode="indeterminate"></mat-progress-bar>
    </p>
      </span>
    <span *ngIf="!available">
          <p class="bottom-20">
            Please make sure that you have at least 2 devices connected.
          </p>
    </span>

    <div class="decoration opacity-50 bottom-10"></div>

  </div>
</div>
</div>
