i {
  background: #6E028D;
  margin-top: 0;
  color: #ffffff;
  font-size: 65px;
  width: 120px;
  height: 120px;
  line-height: 114px;
}
.icon-column {
  padding-right: 112px;
}
.upload-wrap {
  text-align:center;
  margin-top: 20px;
  margin-bottom: 130px;
}
.input-upload {
  display: none;
}
