<div class="page-content header-clear-larger">
  <div class="content-box shadow-large bg-white-transparent">
    <div class="top-25 bottom-15">
      <div class="pricing-3 bg-white-transparent body-import">
        <div>
          <h1 class="pricing-title uppercase ultrabold text-shadow" align="center">Scan For Devices</h1>
          <h2 class="pricing-subtitle text-shadow" align="Center">
            Make sure that you have previously paired Memory Box with your phone from phone's bluetooth settings
            <br>
            After the scanning is completed please select the Memory Box device you want to connect to. If you want to connect your device
            to use wireless connection, please configure it below
            <br>
            <div class="wifi-text">
              <i class="fas fa-wifi"></i>
              <br>
              <a data-menu="menu-contact2" data-menu-type="menu-box-modal" href="#" ><b>Memory Box Wifi Configuration</b></a>
            </div>
        </h2>
        </div>
        <ul align="center" class="pricing-list">
          <li *ngFor="let device of availableDevices">
            <div align="center" >
              <button style="margin: 0px 10px 10px 0px !important;"
                      class="button-full button button-purple button-device"
                      (click)="connectDevice(device)">
                {{device.name}}
              </button>
            </div>
            <div>
              <small><b>{{device.address}}</b></small>
            </div>
          </li>
        </ul>
        <button (click)="scanForPaired();" class="button-full upload-another button button-purple">Scan Again</button>
      </div>
    </div>
  </div>

</div>


<div id="menu-contact2" data-menu-height="460" class="menu menu-box-modal bg-white shadow-large">
  <div class="menu-scroll">
    <h3 class="uppercase ultrabold center-text top-0 color-black font-27">Wifi Settings</h3>
    <p class="center-text left-30 right-30 bottom-20 color-black top-10 opacity-70">
    </p>
    <div class="deco-thin deco-2 bottom-20"></div>
    <div class="contact-form">
      <div>
        <p class="center-text"><i class="fa fa-2x fa-paper-plane-o"></i></p>
        <h4 class="uppercase ultrabold center-text"></h4>
        <p class="center-text boxed-text   ">
          <mat-form-field style="width: 100%" class="example-full-width">
            <input matInput type="text" class="textarea-simple-2" placeholder="Wifi Name">
          </mat-form-field>
        </p>

        <p class="center-text boxed-text ">
          <mat-form-field style="width: 100%" class="example-full-width">
            <input matInput type="text" class="textarea-simple-2" placeholder="Wifi Password">
          </mat-form-field>
        </p>
        <a href="#"
           class="button button-round color-white button-blue button-xs button-center close-menu uppercase bold top-30">Apply </a>
      </div>

    </div>
  </div>
</div>

