<div class="page-content header-clear-larger">
  <div class="content-box shadow-large  bg-white-transparent">
    <div class="pricing-3 ">
      <h1 class="pricing-title uppercase ultrabold text-shadow" align="center">WIFI Settings</h1>
      <h2 class="pricing-subtitle text-shadow" align="Center">Please Enter Serial Number, SSID and Password <br>
        <b>{{wifiStatus}}</b></h2>
      <h3 class="pricing-value text-shadow">

      </h3>
      <div class="pricing-3 ">
        <ul align="center" class="pricing-list">

          <li align="center">
            <i align="center">
              <div class="input-simple-2 textarea has-icon">
                <mat-form-field style="width: 100%" class="example-full-width">
                  <input matInput value="pass" [(ngModel)]="mySSID" type="text" class="textarea-simple-2" placeholder="Wifi Name">
                </mat-form-field>
              </div>
            </i>
          </li>

          <li align="center">
            <i align="center">
              <mat-form-field style="width: 100%" class="example-full-width">
                <input matInput value="pass" [(ngModel)]="myWifiPass" type="text" class="textarea-simple-2" placeholder="Password">
              </mat-form-field>
            </i>
          </li>
          <i class="fa "></i>
          <p><!--TODO: {{addWifiResult}} --></p>
          <li>
            <i align="center">
              <button class="button-full button button-purple" (click)="applyWifiSettings()">Apply
                Settings
              </button>
            </i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
