<div id="menu-1" class="menu menu-sidebar-left menu-settings">
  <div class="menu-bg gradient-body-1"></div>
  <div class="menu-scroll">
    <div class="menu-header">
      <a class="menu-logo" href="index.html"></a>
      <h1>MENU</h1>
      <p>--------------------------</p>
    </div>
    <div class="menu-list icon-background-active">
      <div *ngFor="let item of navigationItems">
      <a  class="menu-item" [href]="item.path">
        <i [style.background]="item.icon_background_color" class="fa {{item.icon}}"></i>
        {{item.name}}
      </a>
    </div>
    </div>
    <em class="menu-copyright">Copyright <span class="copyright-year"></span>, Enabled. All Rights Reserved</em>
  </div>
</div>
