.bottom-image, .one-third {
  text-align: center;
}
.content-box {
  padding: 0;
  margin: 0;
}

i {
  cursor: pointer;
}

.media-header {
  display: flex;
  justify-content: space-evenly;
}

.input-duration {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
}

.media-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
  div {
    margin-bottom: 10px;
  }
  .play {
    color: rgb(110, 2, 141);
  }
  .pause {
    color: rgb(2, 115, 195);
  }
  .stop {
    color: rgb(237, 58, 62);
  }
}

.remote-control {
  margin-top: 80px;
  width: auto;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
}
.img-container {
  div {
    position: absolute;
    opacity: 0;
    z-index: 1000;
    font-size: 10px;
    line-height: 18px;
    background-color: red;
    color: white;
  }
  display: inline-block;
  position: relative;
}
.next-button {
  right: 35px;
  bottom: 450px;
  padding: 4px 15px;
}

.prev-button {
  right: 138px;
  bottom: 450px;
  padding: 4px 15px;
}

.stop-button {
  right: 81px;
  bottom: 73px;
  padding: 4px 15px;
}

.play-button {
  right: 81px;
  bottom: 330px;
  padding: 4px 15px;
}

.pause-button {
  right: 81px;
  bottom: 201px;
  padding: 4px 15px;
}
