<div class="page-content header-clear-larger">
<div style="height: 100%; box-sizing: border-box;">
  <mat-card style="height: 100%; box-sizing: border-box; padding:0">
    <app-file-explorer
                    [fileElements]="fileElements | async"
                    [path]="currentPath"
                    [name]="mediaManagerName"
                    [canRefresh]="canRefresh"
                    [canNavigateUp]="canNavigateUp"
                    (folderAdded)="addFolder($event)"
                    (elementRemoved)="removeElement($event, false)"
                    (elementDownload)="downloadElement($event)"
                    (elementSelected)="selectElement($event)"
                    (navigatedDown)="navigateToFolder($event)"
                    (navigatedUp)="navigateUp()"
                    (refreshFiles)="getMediaFiles()"
                    (elementRenamed)="renameElement($event)"
                    (elementMoved)="moveElement($event)">
    </app-file-explorer>
  </mat-card>
</div>
<div class="footer-custom">
  <button (click)="playSelected()" mat-raised-button color="primary" class="button-green">Play</button>
  <button (click)="deleteSelected()" mat-raised-button color="primary" class="button-red">Delete</button>
  <button (click)="createAlbum()" mat-raised-button color="primary" class="button-blue">Create Album</button>

  <!--<div class="top-25 bottom-15">-->
      <!--<p class="bottom-20">-->
        <!--<div class="one-third">-->


      <!--<p class="bottom-0">-->
      <!--<button (click)="playSelected()" mat-raised-button color="primary" class="button-green">Play</button>-->
        <!--&lt;!&ndash;<button (click)="playSelected()" class="button button-green">Play</button>&ndash;&gt;-->

      <!--</p>-->
    <!--</div>-->
    <!--<div class="one-third">-->


      <!--<p class="bottom-0">-->
        <!--&lt;!&ndash; TODO: Add Confirmation &ndash;&gt;-->
        <!--<button (click)="deleteSelected()" mat-raised-button color="primary" class="button-red">Delete</button>-->
        <!--&lt;!&ndash;<button (click)="deleteSelected()" class="button button-red">Delete</button>&ndash;&gt;-->

      <!--</p>-->
    <!--</div>-->


    <!--<div class="one-third last-column">-->


      <!--<p class="bottom-0">-->
        <!--<button (click)="createAlbum()" mat-raised-button color="primary" class="button-blue">Create Album</button>-->
        <!--&lt;!&ndash;<button (click)="createAlbum()" class="button button-blue">Create Album</button>&ndash;&gt;-->

      <!--</p>-->
    <!--</div>-->

  </div>

</div>
