<div class="page-content header-clear-larger">
<div style="height: 100%; box-sizing: border-box;">
  <mat-card style="height: 100%; box-sizing: border-box; padding:0">
    <app-file-explorer  [fileElements]="fileElements | async"
                    [path]="currentPath"
                    [canNavigateUp]="canNavigateUp"
                    (folderAdded)="addFolder($event)"
                    (elementRemoved)="removeElement($event)"
                    (navigatedDown)="navigateToFolder($event)"
                    (navigatedUp)="navigateUp()"
                    (elementRenamed)="renameElement($event)"
                    (elementMoved)="moveElement($event)">
    </app-file-explorer>
  </mat-card>
</div>
<div class="footer-custom">
    <div class="top-25 bottom-15">
      <p class="bottom-20">
        <div class="one-third">


      <p class="bottom-0">

        <a href="#" ng-click="sendChecked()" class="button button-green">Play</a>

      </p>
    </div>
    <div class="one-third">


      <p class="bottom-0">

        <a href="#" ng-click="deleteChecked()" class="button button-red">Delete</a>

      </p>
    </div>


    <div class="one-third last-column">


      <p class="bottom-0">

        <a href="#" ng-click="createAlbum()" class="button button-blue">Create Album</a>

      </p>
    </div>

  </div>

</div>
