<div class="page-content header-clear-larger">
<div style="height: 100%; box-sizing: border-box;">
  <mat-card style="height: 100%; box-sizing: border-box; padding:0">
    <app-file-explorer
                    [fileElements]="fileElements | async"
                    [path]="currentPath"
                    [name]="mediaManagerName"
                    [canRefresh]="canRefresh"
                    [canNavigateUp]="canNavigateUp"
                    (folderAdded)="addFolder($event)"
                    (elementRemoved)="removeElement($event)"
                    (elementDownload)="downloadElement($event)"
                    (elementSelected)="selectElement($event)"
                    (navigatedDown)="navigateToFolder($event)"
                    (navigatedUp)="navigateUp()"
                    (refreshFiles)="getMediaFiles()"
                    (elementRenamed)="renameElement($event)"
                    (elementMoved)="moveElement($event)">
    </app-file-explorer>
  </mat-card>
</div>
<div class="footer-custom">
    <div class="top-25 bottom-15">
      <p class="bottom-20">
        <div class="one-third">


      <p class="bottom-0">

        <button (click)="playSelected()" class="button button-green">Play</button>

      </p>
    </div>
    <div class="one-third">


      <p class="bottom-0">
        <!-- TODO: Add Confirmation -->
        <button (click)="deleteSelected()" class="button button-red">Delete</button>

      </p>
    </div>


    <div class="one-third last-column">


      <p class="bottom-0">

        <button (click)="createAlbum()" class="button button-blue">Create Album</button>

      </p>
    </div>

  </div>

</div>
