<!--Navigation Bar-->
<div class="header shadow-large header-light header-logo-app">
  <a href="index.html" class="header-logo"></a>
  <a data-menu="menu-1" data-menu-type="menu-sidebar-left-push" href="#" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
  <a data-menu="menu-contact" data-menu-type="menu-box-modal" href="#" class="header-icon header-icon-2"><i class="fas fa-envelope"></i></a>
</div>

<!--Menu Contact-->
<div id="menu-contact" data-menu-height="460" class="menu menu-box-modal bg-white shadow-large">
  <div class="menu-scroll">
    <h3 class="uppercase ultrabold center-text top-0 color-black font-27">Contact Us</h3>
    <p class="center-text left-30 right-30 bottom-20 color-black top-10 opacity-70">

    </p>
    <div class="deco-thin deco-2 bottom-20"></div>
    <div class="contact-form">
      <div>
        <p class="center-text"><i class="fa fa-2x fa-paper-plane-o"></i></p>
        <h4 class="uppercase ultrabold center-text"></h4>
        <p class="center-text boxed-text   ">
          Email: wayne@smartplaytv.com
        </p>

        <p class="center-text boxed-text ">
          Website: smartplaymemorybox.com
        </p>
        <a href="#"
           class="button button-round color-white button-blue button-xs button-center close-menu uppercase bold top-30">Return </a>
      </div>

    </div>
  </div>
</div>
