<div class="page-content header-clear-larger">
<div class="top-25 bottom-15">

  <div class="pricing-3 bg-white-transparent">
    <div>
      <h1 class="pricing-title uppercase ultrabold text-shadow" align="center">Albums</h1>
      <h2 class="pricing-subtitle text-shadow" align="Center">Select an album to view.</h2>
      <h3 class="pricing-value text-shadow">
         <img (click)="getAlbums()" height='75px' width='75px' src='../../../assets/images/refresh.png'>
      </h3>
    </div>
    <ul align="center" class="pricing-list   bg-white-transparent ">
      <li align="center" *ngFor="let x of albums">
        <i align="center">
          <div class="row1">
            <div class="column1 button-wrapper left1">
              <button class="button-full album-select button button-purple" (click)="openAlbum(x)"> {{
                x.name }}
              </button>
              <div class="icon-column">
                <i (click)="deleteAlbum(x.name)"
                   class="delete-icon fa fa-trash color-white shadow-icon-large fa-5x"></i>
              </div>
            </div>
          </div>


        </i>
      </li>
    </ul>
  </div>
</div>
</div>
